<head>
<title>Registrados</title>
</head>

<body>
    <h1>Usuarios Registrados</h1>
    <ul>
        <% usernames.forEach(usernames => { %>
        <li> <%= usernames %> </li>
        <% }); %>
    </ul>
</body>
