<head>
  <title>Inicio</title>
</head>

<body>
    <h1>User Vault</h1>
    <h3>Las rutas disponibles son:</h3>
    <p>
        <ul>
            <li>/inicio</li>
            <li>/userv</li>
            <li>/userv/agregar-username</li>
            <li>/suscripcion</li>
            <li>/suscripcion/precios</li>
            <li>/registro/login</li>
            <li>/registro/logout</li>
        </ul>
    </p>
</body>
