<head>
<title>Registrados</title>
</head>

<body>
    <h1>Usuarios Registrados</h1>
    <ul>
    <% if(users.length>0){ %>
      <% for (let users1 of users) {%>
        <li><%users1.nombre_usuario%></li>
    <%}%>
  <%}%>
    </ul>
</body>
