<head>
<title>Nuevo Usuario</title>
</head>

<body>
    <h1>Añadir username</h1>
    <form action="agregar-username" method="POST">
        <input type="text" name="nombre">
        <input type="submit" value="Registrar usuario">
    </form>
</body>
