<head>
<title>Suscripciones</title>
</head>

<body>
    <h1>Precios de suscripciones</h1>
    <ul>
      <li>Suscripción base (50 GB): $300</li>
      <li>Suscripción premium (100 GB): $500</li>
      <li>Suscripción deluxe (150 GB): $700</li>
    </ul>
</body>
